<div class="sidebar">
  <app-header></app-header>
  <nav class="navbar">
    <ul class="nav-list">
      <li class="element active"><img src="home.png" class="nav-img"><a class="nav-text" href="#">Home</a></li>
      <li class="element"><img src="projects.png" class="nav-img"><a class="nav-text" href="#">Projects</a></li>
      <li class="element"><img src="reports.png" class="nav-img"><a class="nav-text" href="#">Reports</a></li>
      <li class="element"><img src="notifications.png" class="nav-img"><a class="nav-text" href="#">Notifications</a></li>
      <li class="element"><img src="stuff.png" class="nav-img"><a class="nav-text" href="#">Stuff</a></li>
    </ul>
  </nav>
  <div class="divider"></div>
</div>
