<div class="task-card" (click)="onCardClick()">
  <div class="name row">{{taskName}}</div>
  <div class="description row">{{taskDescription}}</div>
  <div class="due-date row"><i class="fa-solid fa-calendar fa-2xs" style="color: #000000;"></i>{{taskDueDate | date:'dd/MM/yyyy'}}</div>
  <div class="estimatedTime row"><i class="fa-solid fa-alarm-clock fa-2xs" style="color: #000000;"></i>{{taskEstimatedTime}}</div>
  <div class="divider"></div>
  <div class="comments-part">
    <i class="fa-solid fa-comment fa-2xs" style="color: #000000;"></i>
    <span class="comments-number">{{taskCommentsNumber}}</span>
  </div>
</div>
