.task-card{
  background: #fff;
  border-radius: 14px;
  padding:10px 20px;
  display: flex;
  flex-direction: column;
  gap:5px;
  .row{
    font-family: "Darker Grotesque",serif;
    font-size: 14px;
    &.name{
      font-weight: 700;
      text-transform: uppercase;
    }
    &.due-date{
      display: flex;
      gap:10px;
      align-items: center;
    }
    &.estimatedTime{
      display: flex;
      gap:10px;
      align-items: center;
      i{
        margin-top:5px;
      }
    }

  }
}
