.task-card{
  background: #fff;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap:5px;

    .row{
      font-family: "Darker Grotesque",serif;
      font-size: 14px;
      padding:5px 20px;
      &.name{
        font-weight: 700;
        text-transform: uppercase;
      }
      &.due-date{
        display: flex;
        gap:10px;
        align-items: center;
      }
      &.estimatedTime{
        display: flex;
        gap:10px;
        align-items: center;
        i{
          margin-top:5px;
        }
      }

    }

  .divider{
    width: 100%;
    border:1px solid #f5f5f5;
    background: #f5f5f5;
  }
  .comments-part{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    align-items: center;
    justify-content: flex-end;
    padding-right:10px;
    .comments-number{
      font-family: "Darker Grotesque",serif;
      font-size: 14px;
      margin-bottom:5px;
    }
  }
}
