<div class="task-card">
  <div class="name row">Metal Cutting</div>
  <div class="description row">Cut raw steel sheets according to blueprint.</div>
  <div class="due-date row"><i class="fa-regular fa-flag fa-2xs" style="color: #000000;"></i>14/02/2025</div>
  <div class="estimatedTime row"><i class="fa-solid fa-clock-rotate-left fa-2xs" style="color: #000000;"></i>30:00</div>
  <div class="divider"></div>
  <div class="comments-part">
    <i class="fa-regular fa-comment-dots fa-2xs" style="color: #000000;"></i>
    <span class="comments-number">2</span>
  </div>
</div>
