<div class="to-do-list">
  <div class="projects-bar">
    <div class="bar-header">
      <h1>Projects </h1>
      <div class="projects-number">{{projects.length}}</div>
    </div>
    <div class="projects-container">
      <div class="project" *ngFor="let project of projects">
        <img src="{{project.designPicture}}">
        <span>{{project.name}}</span>
      </div>
    </div>
  </div>
  <div class="board">
    <div class="header">
      <div class="selector">
        <span>Select a Resource: </span>
        <ng-select
          [items]="resources"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedResourceId"
          (ngModelChange)="updateTasksByResource($event)">
        </ng-select>
      </div>
      <div class="add-task-btn">
        <button>Add Task <i class="fa-solid fa-plus" style="color: #ffffff;"></i></button>
      </div>

    </div>
    <div class="content">
      <div class="tasks-container">
        <div class="tasks-header">
          <app-status-header header="To Do" number="{{toDoTasks.length}}"></app-status-header>
        </div>
        <div class="tasks-cards" *ngFor="let toDoTask of toDoTasks">
          <app-task-card
            [taskName]="toDoTask.name"
            [taskDescription]="toDoTask.description"
            [taskDueDate]="toDoTask.dueDate"
            [taskEstimatedTime]="toDoTask.estimatedTime"
            [taskCommentsNumber]="toDoTask.commentIds.length"
          >
          </app-task-card>
        </div>
      </div>
      <div class="tasks-container">
        <div class="tasks-header">
          <app-status-header header="In Progress" number="{{inProgressTasks.length}}"></app-status-header>
        </div>
        <div class="tasks-cards" *ngFor="let inProgressTask  of inProgressTasks">
          <app-task-card
            [taskName]="inProgressTask.name"
            [taskDescription]="inProgressTask.description"
            [taskDueDate]="inProgressTask.dueDate"
            [taskEstimatedTime]="inProgressTask.estimatedTime"
            [taskCommentsNumber]="inProgressTask.commentIds.length"
          >
          </app-task-card>
        </div>
      </div>
      <div class="tasks-container">
        <div class="tasks-header">
          <app-status-header header="On Hold" number="{{onHoldTasks.length}}"></app-status-header>
        </div>
        <div class="tasks-cards" *ngFor="let onHoldTask of onHoldTasks">
          <app-task-card
            [taskName]="onHoldTask.name"
            [taskDescription]="onHoldTask.description"
            [taskDueDate]="onHoldTask.dueDate"
            [taskEstimatedTime]="onHoldTask.estimatedTime"
            [taskCommentsNumber]="onHoldTask.commentIds.length"
          >
          </app-task-card>
        </div>
      </div>
      <div class="tasks-container">
        <div class="tasks-header">
          <app-status-header header="Completed" number="{{completedTasks.length}}"></app-status-header>
        </div>
        <div class="tasks-cards" *ngFor="let completedTask of completedTasks">
          <app-task-card
            [taskName]="completedTask.name"
            [taskDescription]="completedTask.description"
            [taskDueDate]="completedTask.dueDate"
            [taskEstimatedTime]="completedTask.estimatedTime"
            [taskCommentsNumber]="completedTask.commentIds.length"
          >
          </app-task-card>
        </div>
      </div>
    </div>
  </div>
</div>
