<div class="card">
  <div class="row">
    <div class="left">
      <i class="fa-solid fa-gear" style="color: #ffffff;"></i>
      <p>Machine Name</p>
    </div>
    <div class="right">
      <i class="fa-solid fa-play fa-xs" style="color: #05ad6d;"></i>
    </div>
  </div>
  <div class="running-ticket">Running</div>
  <div class="details">
    <div class="details-row">
      <p class="title">Operator:</p>
      <p>Ahmed Ben Ahmed</p>
    </div>
    <div class="details-row">
      <p class="title">Current Task:</p>
      <p>Task Name - Piece Name and reference</p>
    </div>
    <p class="project-name">Project Name</p>
    <div class="details-row">
      <p class="title">Started:</p>
      <p>12/02/2025 8:00 AM</p>
    </div>
  </div>
</div>
